.toggle_button {
  background-image: url("/assets/toggle_off.svg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: inline-block;
  height: 41px;
  width: 75px;
  transition: background-image 0.05s ease-in-out;
}

.toggle_button.toggle_button--active,
.toggle_button[aria-checked="true"] {
  background-image: url("/assets/toggle_on.svg");
}
