.container {
  margin: 0 auto;
  max-width: 1180px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
  list-style: none;
}

.cards a {
  text-decoration: none;
}

.cards a:hover {
  text-decoration: underline;
  text-decoration-color: var(--red-4);
}
