.header {
  display: flex;
  justify-content: center;
  margin-block: 24px;
}

.header .header__logo {
  width: 326px;
  height: 120px;
}

/* Presentation section */

.presentation_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation_section .presentation_section__title {
  color: var(--grey-2);
  font-size: var(--font-xl);
  text-transform: uppercase;
}

.presentation_section .presentation_section__description {
  color: var(--grey-3);
  font-size: var(--font-x-sm);
}

.presentation_section
  .presentation_section__title
  + .presentation_section__description {
  margin-block-start: 16px;
}

.presentation_section + .search {
  margin-block-start: 48px;
}

/* Search bar */
.search {
  display: flex;
  justify-content: center;
}

.search .search__form {
  align-items: center;
  background-color: var(--red-1);
  border: transparent;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  height: 66px;
  width: 100%;
  max-width: 866px;
}

.search .search__input {
  background: transparent;
  border: transparent;
  border-radius: 0 32px 32px 0;
  font-size: var(--font-x-sm);
  height: 100%;
  padding: 24px;
  width: 100%;

  color: var(--red-4);
}

.search .search__input::placeholder {
  color: var(--red-3);
}

.search .search__input:focus {
  outline: 2px solid var(--red-5);
}

.search .search__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 66px;
  margin-inline-start: 12px;
  width: 66px;
}

/* Filter section */

.filters {
  display: flex;
  justify-content: space-between;
  margin-block: 48px;
}

.filters .filters__total_results {
  color: var(--grey-4);
  font-size: var(--font-x-sm);
}

.filters .filters__actions {
  align-items: center;
  display: flex;
}

/* Card section */

.container {
  margin: 0 auto;
  max-width: 1180px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
  list-style: none;
}

.card {
  --card-width: 260px;
  --image-width: var(--card-width);
  --image-height: var(--image-width);

  display: flex;
  flex-direction: column;

  width: var(--card-width);

  position: relative;
}

.card .card__figure {
  --border-size: 4px;

  margin: 0;
  padding: 0;
  border-bottom: var(--border-size) solid var(--red-3);
  height: calc(var(--image-height) + var(--border-size));
}

.card .card__content {
  display: flex;
  padding-block: 24px;
  justify-content: space-between;
}

.card .card__title {
  color: var(--grey-2);
  font-size: var(--font-sm);
}

.footer {
  width: 100%;
  height: 80px;
  background-color: var(--red-5);

  position: relative;
}

.footer p {
  color: #fff;
  font-size: var(--font-x-sm);

  position: absolute;
  bottom: 16px;
  right: 16px;
}

.like_button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  width: 20px;
  height: 20px;
  background-repeat: no-repeat;

  background-image: url("/assets/favorito_02.svg");
  background-size: contain;
}

.like_button:focus {
  outline: 2px dashed var(--red-3);
}

.like_button.like_button--liked[data-liked="true"] {
  background-image: url("/assets/favorito_01.svg");
}
